nav ul li {
    float: left;
    width: 150px;
    padding: 10px;
}

/*마우스 포인터를 올렸을 때 적용*/
nav a:hover {
    background-color: black;
    color: white;
}

/*웹 요소에 초점을 맞췄을 때 지정*/
nav a:focus {
    background-color: blue;
}

/*마우스 포인터로 클릭했을 때 지정*/
nav a:active {
    background-color: red;
}

/* 방문한 링크와 방문 하지 않은 설정*/
.navi a:link, .navi a:visited {
    display: block;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}