/* ▼ 기본 웹 페이지 설정 */
/* 전체 마진 0 설정 */
body {
  margin: 0;
}

/* 상단 header */
header {
  background-color: rgb(22, 20, 27);
  height: 100px;
}

h1 {
  /* 내용 가로 정렬 */
  text-align: center;
  /* 내용 세로 정렬 - 컨테이너 요소와 높이를 동일하게 지정하면 가운데로 정렬됨 */
  line-height: 100px;
  color: white;
  margin: 0;
}

/* section을 플렉스 박스 컨테이너 지정 */
section {
  display: flex;
}

/* 메인 article - 플렉스 아이템 */
article {
  background-color: rgb(184, 191, 247);
  /* 패딩 마진 10px */
  padding: 10px;
  margin: 10px;
  /* flex : flex-grow 1, flex-basis 200px */
  /*
  flex-grow
  : 단위없는 비례값
  : article에 여유 공간이 있을 경우 그 공간을 1의 비율로 채움
  */
  /* flex-basis : 최소 크기값 */

  /* ▼ flex-grow */
  flex: 1;
  /* ▼ flex-basis */
  flex: 200px;
  /* 같이 기입 할 수도 있음
  ex. flex : 1 200px; */
}

/*
마지막 article
flex-grow 3, 기본크기 200px
내부를 플렉스 컨테이너로 지정, 방향 cloumn
*/

#last-article {
  /* 3번째 아티클이 다른 아티클에 비해 3배더 많은 여유공간을 차지 */
  flex: 3 200px;

  /*
  해당 article내부를 플렉스 컨테이너로 지정
  내부 요소의 정렬 방향 : column(세로, 열)
  */
  display: flex;
  flex-direction: column;
}

/* 3번째 article의 1번째 div */
#first-div {
  flex: 1 100px;
  /*
  ▼ 해당 div 내부를 플렉스 컨테이너 지정
  방향을 row설정
  요소들이 감싸져서 여러 줄로 배치 가능하도록 설정
  */
  display: flex;
  /* ▼이걸 사용 하기 위해선 ▲이걸 설정해야함 */
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

/* 버튼의 기본 플렉스 값 지정 */
button {
  /* ▼ 브라우저 창의 폭 조율 시 최대한 공간을 점유, 동일 선상에 가능한 한 많은 요소를 배치 */
  flex: 1 auto;
  margin: 5px;
  font-size: 18px;
  line-height: 1.5;
}